/* loader */
.user-profile__loader {
    z-index: 2;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.user-profile__loader-container {
    --size: 70px;
    position: relative;
    width: var(--size);
    height: var(--size);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.user-profile__loader-wheel {
    --ring-width: 8px;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: var(--ring-width) solid black;
    border-top: var(--ring-width) solid rgb(224, 211, 211);
    animation: user-profile__loader-ani 800ms linear infinite;
}

@keyframes user-profile__loader-ani {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}